            @media (min-width:1320px) {}
            
            @media (max-width:1320px) {
                #home .connect {
                    right: -10px;
                }
                .hero .form-area {
                    padding: 20px 30px;
                    margin-right: 20px;
                }
                .hero .form-area .form a {
                    margin: 30px 0 0 150px;
                }
            }
            
            @media (max-width:1200px) {
                .hero .content h1 {
                    font-size: 30px;
                }
                .hero .content h3 {
                    font-size: 20px;
                }
                #home .lable img {
                    width: 55%;
                }
                .hero .form-area .form a {
                    margin: 30px 0 0 120px;
                }
                #services .main {
                    width: 85%;
                }
            }
            
            @media (max-width:991px) {
                .nav-bar {
                    display: none;
                }
                .mob-nav {
                    display: block;
                }
                #home {
                    height: 180vh;
                }
                .hero {
                    flex-direction: column;
                    padding: 23% 0 0 0;
                    position: unset;
                    top: 0;
                    left: 0;
                    transform: translate(0, 0);
                }
                .hero .form-area {
                    margin: 170px 0;
                }
                .hero .form-area .form a {
                    margin: 30px 0 0 170px;
                }
                .hero .form-area .line {
                    margin: 2px 21%;
                }
                #services .heading .box-4 h1 {
                    font-size: 28px;
                }
                #services .heading p {
                    font-size: 16px;
                }
                #services .heading .box-4 {
                    max-width: 300px;
                }
                #services .content .left h2 {
                    font-size: 24px;
                }
                #services .content .left h3 {
                    font-size: 18px;
                }
                #services .content .left .content-item ul {
                    font-size: 16px;
                }
                #services .content .left .content-item ul li {
                    line-height: 1.5;
                }
                #services .content .left .content-item img {
                    height: 50px;
                    width: 50px;
                    margin: 10px 30px 0px 0;
                }
                #services .content .learn-more-btn {
                    padding: 5px 15px;
                    font-weight: normal;
                }
                #services .content .right img {
                    width: 80%;
                }
                #services .content .right .tax-notice-content h4 {
                    font-size: 18px;
                }
                #services .content .right .tax-notice-content p {
                    font-size: 14px;
                }
                #services .content .right .tax-notice-content ul li {
                    font-size: 14px;
                }
                #blog .card {
                    margin: 0 auto;
                }
                #blog .heading h1 {
                    font-size: 28px;
                    margin: 60px auto;
                    max-width: 300px;
                }
                #client-review .heading h1 {
                    font-size: 28px;
                    padding: 50px 0;
                }
                #client-review .client-details .count h1 {
                    font-size: 35px;
                }
                #client-review .client-details .client-name h3 {
                    font-size: 26px;
                    margin: 10px;
                }
                #client-review .client-details .client-text p {
                    font-size: 22px;
                }
                #client-review .client-details {
                    max-width: 80%;
                }
                #client-review .client-details .read-more a {
                    font-size: 20px;
                    margin: 10px 0;
                }
                #client-review .client-details .rating i {
                    font-size: 24px;
                }
                #contact .right .right-form {
                    padding: 50px 90px;
                }
                #contact .right .right-form h1 {
                    margin: 25px 0;
                    font-size: 28px;
                }
                #contact .right .right-form input {
                    height: 45px;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
                #contact .left .left-item {
                    max-width: 75%;
                }
                #contact .connect .social p {
                    font-size: 22px;
                    margin: 20px 0;
                }
                #contact .right .right-form textarea {
                    font-size: 20px;
                }
            }
            
            @media (max-width:767px) {
                .hero {
                    padding: 30% 0;
                }
                .hero .content h1 {
                    font-size: 26px;
                }
                .hero .content h3 {
                    font-size: 18px;
                }
                #home .lable img {
                    width: 70%;
                }
                .hero .form-area {
                    margin: 185px 0;
                }
                .hero .form-area h3 {
                    font-size: 20px;
                }
                .hero .form-area .line {
                    margin: 2px 25%;
                }
                #home .connect img {
                    width: 50%;
                }
                .main-home .social ul li img {
                    width: 50%;
                }
                .main-home .social ul li {
                    padding: 10px 0px;
                }
                #services .content {
                    flex-direction: column;
                }
                #services .content .left {
                    width: 80%;
                    margin: 0 auto;
                    border-bottom: 1px dashed #7e7e7e;
                    border-right: none;
                }
                #services .content .right {
                    width: 80%;
                }
                #services .content .right .tax-notice-content h4 {
                    font-weight: 900;
                    font-size: 22px;
                    margin-top: 30px;
                }
                #services .content .right .tax-notice-content p {
                    font-weight: 600;
                    font-size: 18px;
                }
                #services .content .right .tax-notice-content ul li {
                    font-size: 16px;
                }
                #services .content .right .tax-notice img {
                    margin: 20px;
                }
                #contact {
                    display: flex;
                    flex-direction: column;
                }
                #contact .left .sub-logo img {
                    width: 30%;
                    margin: 10px 0;
                }
                #contact .connect .mail .mail1,
                .mail2 {
                    text-align: center;
                }
                #contact .connect .social p {
                    font-size: 20px;
                    margin: 15px 0;
                    text-align: center;
                }
                #contact .left {
                    width: 100%;
                }
                #contact .right {
                    width: 100%;
                }
                #contact .connect .mail {
                    padding: 5px 0;
                }
            }
            
            @media (max-width:580px) {
                .hero {
                    padding: 40% 20px;
                }
                .hero .content h1 {
                    font-size: 20px;
                }
                .hero .content h3 {
                    font-size: 16px;
                }
                .hero .form-area .form a {
                    margin: 30px 0 0 120px;
                }
                .hero .form-area .line {
                    margin: 2px 21%;
                }
                #services .content .right .tax-notice-content h4 {
                    font-size: 18px;
                }
                #services .content .right .tax-notice-content p {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                #services .content .right .tax-notice-content ul li {
                    font-size: 14px;
                }
                #services .content .left {
                    width: 90%;
                }
                #services .content .right {
                    width: 90%;
                }
                #services .content .left h2 {
                    font-size: 20px;
                }
                #services .content .left h3 {
                    font-size: 16px;
                }
                #services .content .left .content-item ul {
                    font-size: 14px;
                }
                #services .content .left .gst .gst-sub {
                    font-size: 16px;
                }
                #services .heading .box-4 h1 {
                    font-size: 24px;
                }
                #services .heading p {
                    font-size: 14px;
                }
                #services .heading .box-4 {
                    max-width: 300px;
                }
                .hero .form-area .form a {
                    font-size: 14px;
                    padding: 5px 35px;
                }
                #services .content .learn-more-btn {
                    font-size: 14px;
                }
                #blog .heading h1 {
                    font-size: 24px;
                    margin: 40px auto;
                    max-width: 250px;
                }
                #client-review .heading h1 {
                    font-size: 24px;
                    padding: 40px 0;
                }
                #contact .left .sub-logo img {
                    width: 30%;
                }
                #contact .connect .mail span {
                    font-size: 16px;
                }
                #contact .right .right-form h1 {
                    margin: 15px 0;
                    font-size: 24px;
                }
                #contact .right .right-form input {
                    height: 35px;
                    margin-bottom: 15px;
                    font-size: 16px;
                }
                #contact .right .right-form textarea {
                    border-radius: 0;
                    margin-bottom: 30px;
                    font-size: 16px;
                }
                #contact .right .right-form a {
                    padding: 8px 20px;
                }
                #contact .right .right-form {
                    padding: 10px 60px;
                }
            }
            
            @media (max-width:480px) {
                #services .content .left {
                    width: 100%;
                }
                #services .content .right {
                    width: 100%;
                }
                #services .content .left .content-item img {
                    margin: 10px 1px 0px 0;
                }
            }
            
            @media (max-width:400px) {}