* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


/* #66AC4C Green
#023C6C Blue */

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/campaign-creators-pypeCEaJeZY-unsplash.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    /* background-color: #ffffff;
    opacity: 75%; */
    /* height: 155px; */
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* display: none; */
    margin: auto 0px;
}

.scrolling-active {
    background-color: #fff;
    opacity: 75%;
}

.nav-bar .menu {
    margin: auto;
}

.nav-bar .menu ul {
    display: flex;
    margin-bottom: 0px;
}

.nav-bar .menu ul li {
    list-style: none;
    color: white;
}

.nav-bar .menu ul li.active a {
    color: #66AC4C;
}

.mob-nav ul li.active a {
    color: #66AC4C;
}

.nav-bar .menu ul li:not(:last-child)::after {
    content: "/";
    color: #023C6C;
    padding: 0 30px;
    font-weight: bold;
    justify-content: center;
}

.nav-bar .menu ul li a {
    text-decoration: none;
    color: #023C6C;
    font-size: .9rem;
    font-weight: bold;
    transition: .5s;
}

.nav-bar .menu ul li a:hover {
    color: #66AC4C;
}

.nav-bar .logo img {
    height: 100px;
}

.nav-bar .logo {
    text-align: end;
    margin: 15px 0;
}

.mob-nav {
    display: none;
}

#sidebar-menu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    background-color: #ffffff;
    opacity: 75%;
    z-index: 99;
    transform: translateX(-250px);
    transition: 250ms ease-in-out;
}

#sidebar-menu ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

#sidebar-menu ul li {
    border-bottom: #888888;
    padding: 15px;
}

#sidebar-menu ul li a {
    text-decoration: none;
    color: #023C6C;
    font-size: .9rem;
    font-weight: bold;
}

#sidebar-menu ul li a:hover {
    color: #66AC4C;
}

.hambar i {
    color: #221837;
    font-size: 24px;
    z-index: 999999;
    position: fixed;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.cros i {
    color: #66AC4C;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.mob-nav .mob-logo {
    text-align: center;
    margin: 30px 0;
}

.mob-nav .mob-logo img {
    width: 70%;
}

.hero {
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .content {
    padding: 0px 30px;
}

.hero .content h1 {
    font-weight: 900;
    font-size: 35px;
}

.hero .content h3 {
    color: #e6e6e6;
    font-size: 27px;
}

.hero .content .content-color {
    color: #66AC4C;
}

.hero .content .line {
    margin: 10px 0;
    border: 1px solid black;
}

.hero .content .line1 {
    width: 140px;
}

.hero .content .line2 {
    width: 110px;
}

.hero .content .line3 {
    width: 80px
}

.hero .form-area {
    padding: 30px 40px;
    /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); */
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.hero .form-area h3 {
    font-size: 1.5rem;
    padding: 0 0 45px 0;
    text-align: center;
}

.hero .form-area .line {
    margin: 2px 18%;
    width: 35%;
    border: 1px solid black;
}


/* .hero .form-area .form form {
display: flex;
flex-direction: column;
}

.hero .form-area .form form .form-content {
padding: 0 0 30px 0;
}

.hero .form-area input {
height: 40px;
width: 280px;
}

.hero .form-area input:focus {
outline: none;
} */

.hero .form-area input {
    border-radius: 0px;
    margin-bottom: 30px;
    border: none;
}

.hero .form-area .form a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid #66AC4C;
    padding: 8px 40px;
    border-radius: 35px;
    transition: .4s ease-in-out;
    margin: 40px 0 0 150px;
}

.hero .form-area .form a:hover {
    background-color: #66AC4C;
}

#home .lable {
    position: absolute;
    left: 200px;
}

#home .lable img {
    width: 65%;
}

.main-home .social {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translate(0, -40%);
    z-index: 99;
}

.main-home .social ul {
    background-color: black;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    padding: 15px 0;
}

.main-home .social ul li {
    padding: 15px 5px;
    list-style: none;
    text-align: center;
}

.main-home .social ul li img {
    width: 70%;
}

#home .connect {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
}

#home .connect img {
    width: 70%;
}

#home.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    z-index: 999;
}

#popup.active {
    bottom: 0px;
    right: 100px;
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    height: 450px;
    width: 350px;
}

#popup .close i {
    color: #66AC4C;
    position: absolute;
    top: 20px;
    right: 25px;
}

#popup .chat-box {
    margin-top: 40px;
    overflow: scroll;
    max-height: 350px;
}

#popup .chat-bubble {
    border-radius: 10px;
    display: inline-block;
    padding: 7px 15px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    width: 70%;
}

#popup .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

#popup .chat-bubble.left {
    background-color: #00FF88;
    float: left;
}

#popup .chat-bubble.left:before {
    background-color: #00FF88;
    left: 10px;
    transform: rotate(70deg) skew(6deg);
}

.chat-bubble.right {
    background-color: #e6e5eb;
    float: right;
    /* margin-right: 55px; */
}

.chat-bubble.right:before {
    background-color: #e6e5eb;
    right: 10px;
    transform: rotate(118deg) skew(-6deg);
}

.message-box {
    flex: 0 1 42px;
    width: 90%;
    background: #fff;
    margin: 2px auto;
    /*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
    /*background: rgba(0, 0, 0, 0.3);
      border-top:1px solid #e3e3e3;*/
    padding: 10px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    border: 1px solid #ccc;
    height: 42px;
}

.message-box .message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none;
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 15px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
    color: #444;
}

textarea:focus:-webkit-placeholder {
    color: transparent;
}

.message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #4A90E2;
    border: none;
    /* background: #c29d5f;*/
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none!important;
    /* transition: background .2s ease; */
    cursor: pointer;
}

.message-submit:hover {
    background: #fff;
    color: #333;
}


/* ************Services************ */

#services {
    width: 100%;
}

#services .heading {
    text-align: center;
    margin-top: 50px;
}

#services .heading .box-4 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px 0 0;
    margin-bottom: 0px;
    letter-spacing: 4px;
}

#services .heading .box-4 {
    max-width: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    background-color: #ffffff;
    margin-bottom: -1px;
    position: relative;
}

#services .heading p {
    border-top: 1px solid #e6e6e6;
    margin-bottom: 60px;
    font-size: 20px;
}

#services .main {
    width: 70%;
    margin: auto;
}

#services .content {
    padding: 20px;
    border: 1px solid green;
    display: flex;
    border-radius: 30px;
}

#services .content .left {
    width: 50%;
    border-right: 1px dashed #7e7e7e;
}

#services .content .left .income-tax {
    padding: 20px 50px;
    border-bottom: 1px dashed #7e7e7e;
}

#services .content .left h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

#services .content .left h3 {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #7e7e7e;
}

#services .content .left .content-item {
    display: flex;
    justify-content: space-between;
}

#services .content .left .content-item ul {
    list-style: none;
    font-size: 20px;
}

#services .content .left .content-item img {
    height: 70px;
    width: 70px;
    margin: 20px 60px 0px 0;
}

#services .content .left .content-item ul li::before {
    content: "\2714";
    margin: 0 0.5rem 0 -1.5rem;
}

#services .content .left .content-item ul li {
    line-height: 2;
}

#services .content .left .gst {
    padding: 20px 50px;
}

#services .content .left .gst .gst-sub {
    font-size: 20px;
}

#services .content .learn-more-btn {
    color: black;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #66AC4C;
    text-decoration: none;
    transition: .4s ease-in-out;
    border: 1px solid #66AC4C;
}

#services .content .learn-more-btn:hover {
    border: 1px solid #66AC4C;
    color: #66AC4C;
    background-color: #ffffff;
}

#services .content .right {
    width: 50%;
    text-align: center;
    align-self: center;
}

#services .content .right .tax-notice img {
    margin-bottom: 20px;
}

#services .content .right img {
    width: 70%;
}

#services .content .right .tax-notice {
    position: relative;
}

#services .content .right .tax-notice-content {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-left: 10px;
}

#services .content .right .tax-notice-content h4 {
    color: black;
    font-weight: 900;
    font-size: 22px;
}

#services .content .right .tax-notice-content p {
    color: black;
    font-weight: 600;
}

#services .content .right .tax-notice-content ul {
    list-style: none;
}

#services .content .right .tax-notice-content ul li {
    line-height: 2;
}

#services .content .right .tax-notice-content ul li:last-child {
    margin-left: -22px;
}


/* ************ BLOG ************* */

#blog .heading h1 {
    font-size: 40px;
    margin: 80px auto;
    font-weight: 900;
    position: relative;
    text-align: center;
    max-width: 350px;
    color: black;
}

#blog .heading h1::before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #7e7e7e;
    position: absolute;
    left: 0;
    top: 50%;
}

#blog .heading h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #7e7e7e;
    position: absolute;
    right: 0;
    top: 50%;
}

#blog .card {
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    height: 460px;
    position: relative;
}

#blog .card h3 {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

#blog .card h5 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#blog .card p {
    font-size: 14px;
}

#blog .card .read-more-btn {
    color: black;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #66AC4C;
    text-decoration: none;
    transition: .4s ease-in-out;
    border: 1px solid #7e7e7e;
    text-align: center;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

#blog .card .read-more-btn:hover {
    border: 1px solid #66AC4C;
    color: #66AC4C;
    background-color: #ffffff;
}


/* **********client Review********* */

#client-review {
    background: #ceecf9;
}

#client-review .client-wrapper {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    background-color: #7e7e7e;
}

#client-review .client-wrapper .review {
    background-color: #cccccc;
    display: inline-block;
    height: 250px;
    width: 300px;
}

#client-review .heading h1 {
    font-size: 45px;
    letter-spacing: 3px;
    padding: 60px 0;
    font-weight: 900;
    text-align: center;
    color: black;
}

#client-review .scroll img {
    height: 150px;
    width: 150px;
}

#client-review .client-details {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}

#client-review .item .count h1 {
    color: #7e7e7e;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
}

#client-review .item .client-name h3 {
    color: black;
    font-size: 35px;
    font-weight: 900;
    margin: 30px 0;
}

#client-review .item .client-text p {
    font-size: 26px;
    color: black;
}

#client-review .item .read-more a {
    font-size: 24px;
    margin: 20px 0;
}

#client-review .item .rating i {
    padding: 15px 10px;
    color: #66AC4C;
    font-size: 30px;
}

#client-review .yorum {
    display: flex;
    /* height: 100vh; */
    align-items: center;
}

.owl-theme .owl-dots {
    padding-bottom: 25px;
}

#client-review .card {
    border: none;
    box-shadow: 0 0 3px #0000001a;
}

#client-review .owl-item {
    padding: 10px;
    text-align: center;
    padding: 0 100px;
}

#client-review .card-yazı p {
    padding: 30px 40px 50px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#client-review .card-yazı p::after {
    content: url("https://i.hizliresim.com/ODgyXA.png");
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 10px 0 0 20px;
}

#client-review .card-yazı p::before {
    content: url("https://i.hizliresim.com/zMXJz4.png");
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
    left: -18px;
}

#client-review .card-yazı {
    background-image: linear-gradient(135deg, rgb(255, 247, 32) 10%, rgb(60, 213, 0) 100%);
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.owl-carousel .owl-item img {
    width: unset;
    margin: 0 auto;
    height: 200px;
}

#client-review .favicon {
    width: 100%;
    height: auto;
}

#client-review .favicon img {
    height: 90px;
    width: 90px !important;
    position: absolute;
    bottom: -45px;
    left: 39%;
    border-radius: 100px;
    border: 8px solid white;
}

#client-review .puan {
    margin-top: 20px;
}

#client-review .puan img {
    height: 20px;
    width: 20px !important;
    margin: 30px 5px 0 0;
}

#client-review .isim h1 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

#client-review .isim p {
    font-size: 12px;
    font-weight: 400;
}


/* *************Contact Page********* */

#contact {
    display: flex;
}

#contact .left {
    width: 38%;
    background-color: #ededed;
}

#contact .left .left-item {
    margin: 20px auto;
    text-align: left;
    max-width: 65%;
}

#contact .left .sub-logo {
    text-align: center;
}

#contact .left .sub-logo img {
    width: 50%;
    margin: 40px 0;
}

#contact .connect .mail {
    padding: 50px 0;
    text-decoration: none;
}

#contact .connect .mail a {
    text-decoration: none;
}

#contact .connect .mail .mail1 i {
    background-color: #66AC4C;
    color: black;
    padding: 8px;
    font-size: 20px;
    margin: 8px 10px 0 0px;
}

#contact .connect .mail .mail2 i {
    background-color: black;
    color: #66AC4C;
    padding: 8px;
    font-size: 20px;
    margin: 8px 10px 0 0;
}

#contact .connect .mail .mail1,
.mail2 {
    text-align: left;
}

#contact .connect .mail span {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

#contact .connect .social p {
    text-align: left;
    font-size: 24px;
    margin: 30px 0;
}


/* #contact .connect .social ul {} */

#contact .connect .social ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    transition: .4s;
    /* font-weight: 30px; */
    background-color: #66AC4C;
    border-radius: 50%;
    margin: 0 5px 0 0px;
}

#contact .connect .social ul li a {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    /* border-radius: 50%; */
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* background-color: #66AC4C; */
}

#contact .connect .social ul li:hover {
    box-shadow: 1px 2px 5px #7e7e7e;
    background-color: white;
}

#contact .connect .social ul li:hover a {
    color: #66AC4C;
}

#contact .right {
    width: 62%;
    background-color: #66AC4C;
}

#contact .right .right-form {
    padding: 50px 110px;
}

#contact .right .right-form h1 {
    color: black;
    margin: 30px 0;
}

#contact .right .right-form input {
    border-radius: 0;
    height: 50px;
    margin-bottom: 30px;
    font-size: 24px;
}

#contact .right .right-form textarea {
    border-radius: 0;
    margin-bottom: 40px;
    font-size: 24px;
}

#contact .right .right-form a,
#contact .right .right-form .submit input {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    background-color: #66AC4C;
    margin-bottom: 0px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 35px;
    font-weight: 600;
    transition: .4s;
}

#contact .right .right-form a:hover,
#contact .right .right-form .submit input:hover {
    color: #66AC4C;
    box-shadow: 2px 3px 5px #7e7e7e;
    background-color: white;
}


/* -----------INCOME TAX----------  */

.tax-home .hero .tax-img img {
    width: 65%;
}

.tax-home {
    background: rgb(114, 131, 191);
    background: linear-gradient(180deg, rgba(114, 131, 191, 1) 0%, rgba(40, 60, 134, 1) 0%, rgba(143, 143, 143, 1) 100%);
    height: 100vh;
}

.income-tax .heading h1 {
    font-size: 40px;
    margin: 50px auto;
    font-weight: 900;
    position: relative;
    text-align: center;
    max-width: 450px;
    color: black;
}

.income-tax .heading h1::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #7e7e7e;
    position: absolute;
    left: 0;
    top: 50%;
}

.income-tax .heading h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #7e7e7e;
    position: absolute;
    right: 0;
    top: 50%;
}

.income-tax .tax-card-back {
    background: rgb(114, 131, 191);
    background: linear-gradient(180deg, rgba(114, 131, 191, 1) 0%, rgba(101, 121, 111, 1) 0%, rgba(202, 241, 222, 1) 100%);
}

.income-tax .card {
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7e7e7e;
    height: 535px;
    position: relative;
    margin-bottom: 40px;
}

.income-tax .card .card-body h4 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 900;
}

.income-tax .card .card-body .amt {
    padding: 0 30px;
    line-height: 0.7;
}

.income-tax .card .card-body .amt h5 {
    color: #66AC4C;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

.income-tax .card .card-body .amt h5 .paise {
    font-size: 22px;
}

.income-tax .card .card-body .amt p {
    font-size: 12px;
    margin-bottom: 0;
}

.income-tax .card .card-body .who {
    text-align: center;
    margin: 20px 0 10px 0;
}

.income-tax .card .card-body .who a {
    color: white;
    background: #023C6C;
    /* background: rgba(2, 60, 108, ); */
    backdrop-filter: blur(10px);
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 35px;
}

.income-tax .card .card-body .content {
    padding: 10px 30px 10px 50px;
}

.income-tax .card .card-body .content ol li {
    font-size: 14px;
    line-height: 20px;
}

.income-tax .card .card-body .buy-btn {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 30px;
    background-color: #66AC4C;
    border: 1px solid #66AC4C;
    border-radius: 35px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: .4s;
}

.income-tax .card .card-body .buy-btn:hover {
    border: 1px solid #66AC4C;
    color: #66AC4C;
    background-color: #ffffff;
}


/* ------------GST---------- */

.gst-home .hero .gst-img img {
    width: 90%;
}

.gst-home {
    background: rgb(114, 131, 191);
    background: linear-gradient(180deg, rgba(114, 131, 191, 1) 0%, rgba(142, 197, 252, 1) 0%, rgba(224, 195, 252, 1) 100%);
    height: 100vh;
}

.gst .heading h1 {
    font-size: 40px;
    margin: 50px auto 0px auto;
    font-weight: 900;
    position: relative;
    text-align: center;
    max-width: 300px;
    color: black;
}

.gst .heading h1::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #7e7e7e;
    position: absolute;
    left: 0;
    top: 50%;
}

.gst .heading h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #7e7e7e;
    position: absolute;
    right: 0;
    top: 50%;
}

.gst .heading h3 {
    text-align: center;
    color: black;
}

.gst .card {
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7e7e7e;
    height: 535px;
    position: relative;
    margin-bottom: 40px;
}

.gst .card .card-body h4 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 900;
}

.gst .card .card-body .amt {
    padding: 0 5px;
    line-height: 0.7;
    text-align: center;
}

.gst .card .card-body .amt h5 {
    color: #66AC4C;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

.gst .card .card-body .amt h5 .paise {
    font-size: 22px;
}

.gst .card .card-body .amt h5 .per-annum {
    color: #7e7e7e;
    font-size: 22px;
}

.gst .card .card-body .amt p {
    font-size: 12px;
    margin-bottom: 0;
}

.gst .card .card-body .who {
    text-align: center;
    margin: 20px 0 10px 0;
}

.gst .card .card-body .who a {
    color: white;
    background: #023C6C;
    /* background: rgba(2, 60, 108, ); */
    backdrop-filter: blur(10px);
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 35px;
}

.gst .card .card-body .content {
    padding: 10px 30px 10px 30px;
}

.gst .card .card-body .content ol li {
    font-size: 14px;
    line-height: 22px;
    list-style: none;
}

.gst .card .card-body .content ol li::before {
    content: "\27A4";
    margin: 50px 0.5rem 0 -1.75rem;
    font-size: 24px;
}

.gst .card .card-body .buy-btn {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 30px;
    background-color: #66AC4C;
    border: 1px solid #66AC4C;
    border-radius: 35px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: .4s;
}

.gst .card .card-body .buy-btn:hover {
    border: 1px solid #66AC4C;
    color: #66AC4C;
    background-color: #ffffff;
}

.gst .top-card .card {
    margin: 40px 50px;
    height: 250px;
}

.gst .top-card .card .card-body .buy-btn {
    font-size: 12px;
    padding: 1px 25px;
}

.gst .top-card .card .card-body .content {
    padding: 10px 30px 10px 100px;
}

.gst .top-card .card .card-body .content ol li::before {
    content: "";
}

.gst .top-card .card .card-body .amt h5 {
    text-align: start;
    padding: 0px 0px 0px 80px;
}


/* .gst .top-card .card .card-body .content ol li {} */


/* -----------BLOG PAGE----------- */

.blog-form {
    background: rgb(0, 208, 175);
    background: linear-gradient(90deg, rgba(0, 208, 175, 1) 0%, rgba(142, 197, 252, 1) 48%, rgba(0, 208, 175, 1) 100%);
    height: 75vh;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.blog-form .form-area {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 30%;
    margin: auto;
    transform: translateX(-50%);
}

.blog-form .heading h2 {
    font-size: 34px;
    color: black;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-color: #7e7e7e;
    text-decoration-style: 1px solid;
    text-underline-offset: 10px;
    margin-bottom: 40px;
}

.blog-form .form-area form input {
    border-radius: 0px;
    height: 45px;
    margin: 10px 0 50px;
}

.blog-form .form-area form a {
    color: #ffffff;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    border: 1px solid #023C6C;
    border-radius: 35px;
}

.blog .card {
    margin: 40px 0;
}

.blog .add-blog {
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/newblogbg.png);
    position: relative
}

.blog .add-blog .new-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog .add-blog .new-blog a {
    color: black;
    text-decoration: none;
    padding: 30px 140px;
    background: #66AC4C;
    font-size: 22px;
    font-weight: 900;
    border-radius: 40px;
    transition: .4s;
}

.blog .add-blog .new-blog a:hover {
    background: white;
    color: #66AC4C;
}


/* ---------register plan ------- */

.register-plan .blog-form {
    border-radius: 0px;
}

.register-plan .register-social {
    width: 100%;
    background: #e8e8e8;
    width: 100%;
    background: #e8e8e8;
    text-align: center;
}

.register-plan .register-social ul {
    display: flex;
    list-style: none;
    padding: 80px 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
}

.register-plan .register-social ul li {
    padding: 0 30px;
}


/* -----------blog-view------ */

.blogpanel {
    background-color: #f1f1f1;
}

.blogpanel .blog-width {
    width: 75%;
    padding: 180px 0 40px 70px;
}

.blogpanel .blog-width .blog-content {
    border: 1px solid #7e7e7e;
}

.blogpanel .blog-width .blog-head h1 {
    background-color: #221837;
    color: white;
    font-size: 22px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}

.blogpanel .blog-width .blog-img img {
    padding: 10px 20px;
    width: 100%;
    height: 450px;
}

.blogpanel .blog-width .blog-data {
    padding: 10px 20px;
    text-align: justify;
}

.blogpanel .blog-width .blog-data p {
    font-size: 18px;
}

.blogpanel .blog-width .blog-data h2 {
    color: black;
    font-size: 22px;
    font-weight: 900;
}

.client-reviews {
    background-color: #e6e6e6;
    height: 100vh;
}

.client-reviews .client-hero {
    display: flex;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    align-items: flex-end;
}

.client-reviews .client-hero .left .client-img img {
    height: 350px;
    width: 550px;
}

.client-reviews .client-hero .left .client-img {
    position: relative;
}

.client-reviews .client-hero .left .client-img .client-name {
    position: absolute;
    top: 20px;
    right: -200px;
}

.client-reviews .client-hero .left .client-img .client-name h2 {
    color: black;
    font-size: 35px;
    background-color: #cccccc;
    padding: 15px 60px;
    font-weight: 900;
}

.client-reviews .client-hero .right {
    padding: 0px;
}

.client-reviews .client-hero .right .content {
    align-items: center;
    margin: 5px 10px;
    align-items: center;
}

.client-reviews .client-hero .right .content p {
    font-size: 26px;
}

.client-reviews .client-hero .right .content ul {
    display: flex;
    list-style: none;
    text-align: left;
    padding: 30px 0 0;
}

.client-reviews .client-hero .right .content ul li {
    padding-right: 10px;
}

.client-reviews .client-hero .right .content ul img {
    height: 70%;
}

.thankyou {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/thankyou.png);
    background-position: center;
    background-size: cover;
}

.thankyou .thanks {
    position: absolute;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.thankyou .thanks img {
    height: 80px;
}

.thankyou .thanks h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 10px;
    color: black;
    margin-top: 10px;
}

.thankyou .thanks p {
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
}