* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


/* #66AC4C Green
#023C6C Blue */

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/campaign-creators-pypeCEaJeZY-unsplash.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .nav-bar {
    background-color: #ffffff;
    opacity: 75%;
    /* height: 155px; */
    position: fixed;
    width: 100%;
    /* position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; */
}

#home .nav-bar .container {
    padding-top: 20px;
}

#home .nav-bar .menu ul {
    display: flex;
}

#home .nav-bar .menu ul li {
    margin: 50px 0px;
    list-style: none;
    color: white;
}

#home .nav-bar .menu ul li:not(:last-child)::after {
    content: "/";
    color: #023C6C;
    padding: 30px;
    font-weight: bold;
    justify-content: center;
}

#home .nav-bar .menu ul li a {
    text-decoration: none;
    color: #023C6C;
    font-size: .9rem;
    font-weight: bold;
}

#home .nav-bar .menu ul li a:hover {
    color: #66AC4C;
    transition: .5s;
}

#home .nav-bar .logo img {
    height: 120px;
}

#home .nav-bar .logo {
    text-align: end;
}

.hero {
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.hero .content {
    padding: 0px 30px;
}

.hero .content h1 {
    font-weight: 900;
    font-size: 35px;
}

.hero .content h3 {
    color: #e6e6e6;
    font-size: 27px;
}

.hero .content .content-color {
    color: #66AC4C;
}

.hero .content .line {
    margin: 10px 0;
    border: 1px solid black;
}

.hero .content .line1 {
    width: 140px;
}

.hero .content .line2 {
    width: 110px;
}

.hero .content .line3 {
    width: 80px
}

.hero .form-area {
    padding: 30px 40px;
    /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); */
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.hero .form-area h3 {
    font-size: 1.5rem;
    padding: 0 0 45px 0;
    text-align: center;
}

.hero .form-area .line {
    margin: 5px 50px;
    width: 95px;
    border: 1px solid black;
}

.hero .form-area .form form {
    display: flex;
    flex-direction: column;
}

.hero .form-area .form form .form-content {
    padding: 0 0 30px 0;
}

.hero .form-area input {
    height: 40px;
    width: 280px;
}

.hero .form-area input:focus {
    outline: none;
}

.hero .form-area .form a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid #66AC4C;
    padding: 10px 35px;
    border-radius: 35px;
    transition: background-color .4s ease-in-out;
    margin: 40px 0 0 150px;
}

.hero .form-area .form a:hover {
    background-color: #66AC4C;
}

#home .lable {
    position: absolute;
    bottom: 50px;
    left: 350px;
}

#home .lable img {
    width: 65%;
}

#home .social {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translate(0, -40%);
}

#home .social ul {
    background-color: black;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    padding: 15px 0;
}

#home .social ul li {
    padding: 15px 5px;
    list-style: none;
    text-align: center;
}

#home .social ul li img {
    width: 70%;
}

#home .connect {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

#home .connect img {
    width: 70%;
}


/* ************Services************ */

#services {
    width: 100%;
}

#services .heading {
    text-align: center;
    margin-top: 50px;
}

#services .heading .box-4 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px 0 0;
    margin-bottom: 0px;
    letter-spacing: 4px;
}

#services .heading .box-4 {
    max-width: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    background-color: #ffffff;
    margin-bottom: -1px;
    position: relative;
}

#services .heading p {
    border-top: 1px solid #e6e6e6;
    margin-bottom: 60px;
    font-size: 20px;
}

#services .main {
    width: 70%;
    margin: auto;
}

#services .content {
    padding: 20px;
    border: 1px solid green;
    display: flex;
    border-radius: 30px;
}

#services .content .left {
    width: 50%;
}

#services .content .left .income-tax {
    padding: 40px;
}

#services .content .left h2 {
    font-size: 1.8rem;
}

#services .content .left h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgb(182, 176, 176);
    padding: 10px 0;
}

#services .content .left .content-item {
    display: flex;
    justify-content: space-between;
}

#services .content .left .gst {
    padding: 40px;
}